<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="site-nav">
        <ul class="visible-links">
          {% assign home_active = "" %}
          {% if page.url == "/" %}
            {% assign home_active = " masthead__menu-item--active" %}
          {% endif %}
          <li class="masthead__menu-item masthead__menu-item--lg{{ home_active }}"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains '://' %}
              {% assign nav_href = link.url %}
            {% else %}
              {% assign nav_href = link.url | relative_url %}
            {% endif %}
            {% assign nav_active = "" %}
            {% if link.url == "/portfolio/" and page.collection == "portfolio" %}
              {% assign nav_active = " masthead__menu-item--active" %}
            {% elsif page.url == link.url or page.url contains link.url %}
              {% assign nav_active = " masthead__menu-item--active" %}
            {% endif %}
            <li class="masthead__menu-item{{ nav_active }}"><a href="{{ nav_href }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
